header {
    margin-bottom: 5em;
}

#aboutText {
    max-width: 700px;
    margin: auto;
    text-align: justify;
    font-size: 20px;
}

#me {
    margin: auto;
    max-width: 200px;
    margin-bottom: 1em;
}

#me img {
    width: 170px;
    border-radius: 100px;
}