header {
    margin-bottom: 5em;
}

h2 {
    margin-bottom: 0;
}

.container {
    max-width: 800px;
    min-height: 500px;
    margin: 1em auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1em 3em;
    border: 2px solid black;
    border-radius: 20px;
    width: 80%;
}

ul {
    padding: 0 0 0 1em;
    margin-bottom: 0;
}

#aboutText {
    text-align: justify;
    font-size: 20px;
    line-height: normal;
    margin-bottom: 2em;
    margin-top: 1em;
}

#me img {
    width: 170px;
    border-radius: 100px;
}

.buttons {
    width: 100%;
    justify-self: flex-end;
    margin-top: auto;
    display: flex;
    flex-direction: row;
}

.previous-button {
    justify-self: flex-start;
}

.next-button {
    justify-self: flex-end;
    margin-left: auto;
}

.skills-container {
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.skill {
    display: flex;
    flex-direction: column;
    width: 14em;
    border-radius: 10px;
    border: 1px solid #cccccc;
    padding: 0.5em;
    margin-top: 1em;
}

.skill-header {
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid #cccccc;
    font-size: large;
    padding-left: 1em;
}

.skill-header img {
    display: inline-block;
    justify-self: flex-end;
    margin-left: auto;
    padding-bottom: 0.2em;
}

.skill-body {
    margin-top: 0.5em;
}

#skills-nav {
    margin-top: 1em;
    margin-bottom: 1em;
}

#skills-nav ul li a {
    background-color: #e9ecef;
    border: 1px solid #cccccc;
}

.portfolio-container {
    width: 100%;
    margin-top: 1em;
    margin-bottom: 1em;
}

.portfolio-container .card {
    border: 1px solid #cccccc;
    border-radius: 0px;
}

.portfolio-container .card-header {
    border-bottom: none;
    background-color: #e9ecef;
    padding-bottom: 0;
    border-radius: 0px;
}

.portfolio-container .card-body {
    padding-top: 0.5em;
    background-color: #e9ecef;
    font-size: small;
}

.portfolio-container .btn-light {
    padding: 0 2em;
    margin-bottom: 0.5em;
    border: none;
    background-color: #e9ecef;
    font-size: large;
}

.biography {
    display: flex;
    width: 100%;
    margin-top: 1em;
    justify-content: space-between;
}

.biography-items {
    display: flex;
    flex-direction: column;
}

.biography-item {
    margin-bottom: 1em;
}

.contact {
    width: 100%;
    margin-top: 1em;
}

.invalid-feedback {
    padding: 0.2em;
}

.contact-info {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 2em;
    justify-content: space-around;
}

.contact-item {
    margin: 0 1em;
    min-width: 10em;
}

.contact-info a {
    color: black;
}

footer {
    text-align: center;
}

.hide {
    display: none;
}